<footer class="page-footer " style=" background-image: radial-gradient(circle, #29a0e3, #008af1, #006ffa, #004ff9, #1f12eb);">
          <div class="container">
            <div class="row">
              <div class="col l12 s12">
                <h5 class="white-text"> <b> Life-Blogs</b></h5>
                <p class="grey-text text-lighten-4">Blogs to fight corona-virus and save Lifes of many from this pandimic</p>
              </div>
             
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            <h6> Made With <i class="fas fa-heart " style="color: crimson;"></i> by NaveenKumar9717</h6>
            
            </div>
          </div>
        </footer>
