
p {
    margin : 10px 0 !important ;
}
.login-container{
    width: 400px;
    margin-top: 50px ;
    text-align: center ;
}

.fa-small{
    font-size: 16px !important;
}
.btn-float{
    float: left;
    margin-right: 10px;
}
.img-small{
    width: 180px;
}
.byme{
    font-family: 'Rubik', sans-serif;
    font-weight: 350;
    color: gray;
}
.head-text{
    font-family: 'Fjalla One', sans-serif;
}

.corona-container{
    display: flex;
    flex-direction: row ;
    flex-wrap: wrap ;
    justify-content:space-evenly;
    justify-items:center;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    /* border: solid cadetblue; */
    padding: 0px ;
    margin-top: 10%;
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .cardbyme {
        
      height: 220px;
      
    }
  }
  @media only screen and (min-width: 600px) and (max-width :780px) {
    .cardbyme {
      min-width: 200px;  
      height: 250px;
    }
  }

.corona-update{
    flex-basis: auto;
    flex-shrink:initial;
    /* display: flex; */
    text-align: center;
    max-height: 270px;
    max-width: 250px;
    font-family: 'Open Sans', sans-serif;
    /* flex-direction: column ; */
    /* justify-content: center;
    justify-items: center; */
}

.daily-update{
 display: inline;
 margin-top: 1%;
}
.total{
    margin-top: 0%;
    font-size: 2rem;
}

.trend-image{
    max-width: 200px ;
    max-height: 100px ;
}
.heading{
    align-self: flex-end;
    justify-self: flex-end;
    margin: 0%;
    

}
